html,
body {
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
}

#title {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem;
}

#text {
    border: 0.2rem solid black;
    max-width: 100ch;
    min-height: 50rem;
    margin: 1rem;
}