@font-face {
  font-family: 'More Perfect DOS VGA';
  src: url('./MorePerfectDOSVGA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'More Perfect DOS VGA', monospace;
  color: #dedede;
  background-color: #0f0f0f;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #dedede;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

#title {
  font-size: 2rem;
  margin: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 27px;
  letter-spacing: 2px;
  user-select: none;
}

#text-area {
  min-width: 60ch;
  max-width: 80%;
  min-height: 70vh;
  resize: none;
  overflow: hidden;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  margin-top: 20%;
  color: #dedede;
  margin-bottom: 20%;
  caret-color: #dedede;
}

textarea::selection {
  color: #0f0f0f;
  background-color: #dedede;
}

#word-counter {
  margin-top: 0.5rem;
  font-size: 1rem;
  visibility: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 1em;
  letter-spacing: 0.2em;
  font-size: 0.75em;
}

#download-btn,
#fullscreen-btn {
  cursor: pointer;
  outline: none;
  position: fixed;
  right: 0;
  top: 1rem;
  user-select: none;
  border: none;
  font-size: 1em;
  background-color: #dedede;
  color: #0f0f0f;
  min-width: 5.8em;
  text-align: left;
}

#fullscreen-btn {
  top: 3rem;
}

#download-btn:hover,
#download-btn:active,
#download-btn:focus,
#fullscreen-btn:hover,
#fullscreen-btn:active,
#fullscreen-btn:focus {
  color: #dedede;
  background-color: #0f0f0f;
}
